/* COMPONETE MYTABLES */
.contentCardTable {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    overflow-y: auto;
    max-height: 100%;
}


/* COMPONETE CARDTABLE */
.cardTable {
    display: flex;
    position: relative;
    margin: 8px 10px;
    min-width: 130px;
    border-radius: 8px;
    height: 130px;
    cursor: pointer;
}

.cardTable:hover {
    transform: scale(1.04);
}
    .cardTable .badgesTable {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        right: -10px;
        top: -10px;
        height: 30px;
        width: 30px;
        background: #dfdede;
        box-shadow: 0px 5.79552px 5.79552px rgba(0, 0, 0, 0.25);
    }
    .cardTable .badgesTable span {
        font-weight: bold;
        color: rgb(27, 27, 27);
    }

.content-table {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: #f1f1f1;
    overflow: hidden;
    box-shadow: 0px 5.79552px 5.79552px rgba(0, 0, 0, 0.25);
    
}
    .content-table .imageTable {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 75%;
        background-image: url("../../assets//img/table.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
    }
        .content-table .imageTable span{
            font-weight: bold;
        }

    .content-table .statusTable {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 0 0 8px 8px;
        bottom: 0;
        height: 25%;
        width: 100%;
        border-top: 1px solid rgb(34, 143, 1);
    }
        .content-table .statusTable span {
            font-weight: bold;
            color: #252525;
        }